.top-menu {
  background: #1976d2;
  padding: 2px 15px;
}

.logo {
  max-height: 55px;
}

.courses {
  max-width: 400px;
  margin: 50px auto;
}

.even {
  border-top: 1px solid green;
}

.odd {
  border-top: 1px solid yellow;
}

.first {
  border-top: 1px solid red;
}

.last {
  border-top: 1px solid blue;
}
