<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<div>
  <div class="demo">
    <button (click)="onEditCourse()" i18n>Edit Course</button>
  </div>

  <div class="courses">
    <course-card
      *ngFor="
        let course of courses;
        let i = index;
        first as isFirst;
        last as isLast;
        even as isEven;
        odd as isOdd
      "
      [ngClass]="{ first: isFirst, last: isLast, even: isEven, odd: isOdd }"
      (courseChanged)="save($event)"
      type="beginner"
      [course]="course"
    >
      <course-image [src]="course.iconUrl"></course-image>
    </course-card>

    <!-- <ng-template #course let-courseName="description">
      <p class="warn">{{ courseName }} has no image yet.</p>
      <img src="../assets/empty-image.png" />
    </ng-template>

    <div
      *ngTemplateOutlet="
        course;
        context: { description: courses[0].description }
      "
    ></div>

    <ng-container
      *ngTemplateOutlet="
        course;
        context: { description: courses[1].description }
      "
    ></ng-container> -->
  </div>
</div>
